<form action="/register" method="POST">

<input type="text" placeholder="username" name="username" >
<input type="text" placehlder="password" name="password" >
<input type="number" placehlder="age" name="age" >
<input type="text" placehlder="password" name="email" >
<input type="submit">


</form>